@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@40/0;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600&display=swap');

.cover {
    position: relative;
    width: 100%;
    min-height: 40vh; /* Adjust this value to fit the aspect ratio of your image */
    overflow: hidden;
}

.image {
    object-fit: cover; /* This will make sure the whole image fits within the container */
}

.dark .dark\:bg-gray-600 {
    background-color: #2e4e7a;
  }
  
  .dark .dark\:text-gray-200 {
    color: #E5E7EB;
  }
  
  .dark .dark\:text-gray-400 {
    color: #000000;
  }
  :root {
    --padding-base: 8px; /* default padding for light mode */
    --background-color: #ccd5ae; /* default background color for light mode */
    --text-color: #333; /* default text color for light mode */
    --transition: 'all 0.5s ease';
}
  
  .dark {
    --padding-base: 10px; /* increased padding for dark mode */
    --background-color: #283618; /* background color for dark mode */
    --text-color: #faedcd; /* text color for dark mode */
    --transition: 'all 0.5s ease';
  }
  .transition-max-height {
    transition: max-height 0.5s ease-in-out;
  }
  .button-social {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: white;
    background-color: rgba(31, 41, 55, 1); /* Dark bg by default */
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-social:hover {
    background-color: rgba(55, 65, 81, 1); /* Slightly lighter on hover */
    transform: scale(1.05); /* Pop out effect */
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
    .button-social {
        background-color: rgba(255, 255, 255, 0.8);
        color: rgba(31, 41, 55, 1);
    }
    .button-social:hover {
        background-color: rgba(255, 255, 255, 1);
    }
}
